.topbar{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    color: #0e0e0e;
    background-color: #d2e9eb;
}
.topbar-left{
    display: flex;
}
.topbar-left-item{
    padding: 1em 0.5em;
}