.background-div{
    background-image: url("../assets/welcomepage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh 
}
.welcome-page-text{
    width: 40%;
    padding: 5em 4em;
}
.welcome-page-buttons{
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.button{
    border: none;
    padding: 0.7em;
    width: 30%;
    background-color: blue;
    border-radius: 1.5em;
}
.watch-button{
    display: flex;
    margin: 0 0 0 1.5em;
}